<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Micamera</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <body>
<div class="navbar">
  <div class="options">
    <ul>
      <li><a href="/services">Services</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <h1><a href="/">Micamera Studios</a></h1>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>

<div class="content">
  <img src="/imgs/about-me.jpg" alt="" />
  <div class="text">
    <h1>About</h1>
    <div class="line"></div>
    <p>Hello Friends,</p>
    <p class="p1">
      My name is Micah. I'm a Norcal photographer located in the Solano County
      area. I was born and raised near the bay area all 21 years of my life. I
      truly love living in California. There's so many cool places around the
      state and hidden gems waiting to be discovered.
    </p>
    <p class="p2">
      The area I grew up in had a major impact on growing my love and passion
      for photography. Ever since I was 12, I would make sure I snap pictures
      wherever I go, because there would always be something spectacular to take
      a picture of.
    </p>
    <p class="p3">
      I started off taking nature and landscape photos but later on my love for
      taking portraits really expanded. In highschool I started doing more
      family shoots and found that I had a love for it.
    </p>
    <p class="p4">
      Taking portraits for people has been a true passion because when taking
      these photos I'm able to capture that person(s) excitement and even love.
      Nothing is better than creating memories for people permanently in a
      photograph. Let me capture memories for you to remember!
    </p>
    <p class="p5">-Micah Dechavez</p>
          
          <button>Let's Get In Touch!</button>
          <button class="igHandle">IG</button>
        </div>
    </div>

  </body>
</html>
