<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - Micamera</title>
  </head>
  <body>
    <h1>Get In Touch</h1>
    <p class="subheading">Now Booking 2022</p>

    <p class="form-instructions">
      Thank you so much for looking around! If you're interested in having me
      document some of your soon-to-be-favorite moments, please fill out the
      form below and I will reach out to you as soon as possible!
    </p>

    <img src="" alt="arrow indicator" />

    <form action="">
      <label for="firstName">First Name</label>
      <input id="firstName" name="" value="" type="text" />

      <label for="lastName">Last Name</label>
      <input id="lastname" name="" value="" type="text" />

      <label for="email">Email Address</label>
      <input id="email" name="" value="" type="email" />

      <label for="package">Package (Please Choose One)</label>
      <input id="package" name="" value="" type="" />

      <label for="notes">Notes</label>
      <input id="notes" name="notes" value="" type="text" />
    </form>
  </body>
</html>
