<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover" />
    <title>Bay Area Portrait Photography - Micamera Studios</title>
    <meta
      name="description"
      content="Vacaville-based lifestyle portrait photography for families, couples, senior graduates, engagements, and more. Book your session now!"
    />
    <link rel="stylesheet" href="/stylesheets/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!-- EmailJs -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<%- include('partials/contactscript')  %> 
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="heading fade-in">
      <h1>Get In Touch</h1>
      <p class="subheading">
        <span class="subheading-linebreak"></span>now booking 2022<span
          class="subheading-linebreak"
        ></span>
      </p>
      <p class="main-paragraph">
        &ensp;Thank you so much for looking around! If you're interested in
        having me document some of your soon-to-be-favorite moments, please fill
        out the form below and I will reach out to you as soon as possible!
      </p>
      <svg class="svg"
        xmlns="http://www.w3.org/2000/svg"
        width="97"
        height="97"
        viewBox="0 0 97 97"
      >
        <g id="Arrow_Icon" data-name="Arrow Icon" opacity="0.52">
          <g
            id="Ellipse_3"
            data-name="Ellipse 3"
            fill="none"
            stroke="#000"
            stroke-width="3"
          >
            <circle cx="48.5" cy="48.5" r="48.5" stroke="none" />
            <circle cx="48.5" cy="48.5" r="47" fill="none" />
          </g>
          <line
            id="Line_1"
            data-name="Line 1"
            x1="0.297"
            y2="47"
            transform="translate(48.203 29.5)"
            fill="none"
            stroke="#000"
            stroke-width="3"
          />
          <line
            id="Line_3"
            data-name="Line 3"
            x2="23.703"
            y2="23"
            transform="translate(24.5 53.5)"
            fill="none"
            stroke="#000"
            stroke-width="3"
          />
          <line
            id="Line_4"
            data-name="Line 4"
            x1="23"
            y2="23"
            transform="translate(48.5 53.5)"
            fill="none"
            stroke="#000"
            stroke-width="3"
          />
        </g>
      </svg>
    </div>

    <div class="formBackground">
      <form role="form" id="contact-form" class="contact-form fade-in" action="">
        <input type="hidden" name="contact_number">
        <div class="column">
          <div class="input-element first-name">
            <label for="firstName">First Name</label>
            <input id="contact-input firstName" name="firstName" value="" type="text" required/>
          </div>
  
          <div class="input-element last-name">
            <label for="lastName">Last Name</label>
            <input id="contact-input lastName" name="lastname" value="" type="text" required/>
          </div>
  
          <div class="input-element email">
            <label for="email">Email Address</label>
            <input id="contact-input email" name="email" value="" type="email" required/>
          </div>
        </div>
  
        <div class="column">
          <div class="input-element package-select">
            <label for="package">Package (Please Choose One)</label>
            <select name="package" id="package" value="package">
              <option name="package" value="mi-amor">Mi Amor Package</option>
              <option name="package" value="us">Us Package</option>
              <option name="package" value="together">Together Package</option>
              <option name="package" value="corazones">Corazones Package</option>
              <option name="package" value="new-chapter">New Chapter Package</option>
              <option name="package" value="just-you">Just You Package</option>
              <option name="package" value="other">Other</option>
            </select>
          </div>
  
          <div class="input-element notes-box">
            <label for="notes">Notes</label>
            <textarea id="contact-input notes" name="notes" value="" rows="40" columns="30" /></textarea>
          </div>
  
          <div class="input-element send-button">
            <button type="submit" onclick='sendMail()' value="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>

  </body>
</html>
