<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 viewport-fit=cover"
    />
    <title>Bay Area Portrait Photography - Micamera Studios</title>
    <meta
      name="description"
      content="Vacaville-based lifestyle portrait photography for families, couples, senior graduates, engagements, and more. Book your session now!"
    />
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/navbar') %>

    <div class="section-title">
      <span class="line-break"></span>
      <h1>The Gallery</h1>
      <span class="line-break"></span>
    </div>

    <div class="container">
      <img
        class="portrait fade-in"
        src="\imgs\portrait-fog-grass.jpg"
        alt="foggy portrait girl grass"
      />
      <img
        class="portrait fade-in"
        src="\imgs\moody-city-lights.jpg"
        alt="guy portrait moody city lights"
      />
      <img
        class="landscape fade-in"
        src="\imgs\portrait-glitter-rose.jpg"
        alt="glitter portrait girl"
      />
      <img
        class="portrait fade-in"
        src="\imgs\Upclose-rose-portrait.JPG"
        alt="rose portrait girl"
      />
      <img
        class="landscape fade-in"
        src="\imgs\sis-portraits.jpg"
        alt="sister portrait"
      />
      <img
        class="landscape fade-in"
        src="\imgs\couples-dog-fall.jpg"
        alt="couple portrait dog"
      />
      <img
        class="portrait fade-in"
        src="\imgs\forest-seinor-portrait.jpg"
        alt="senior forest portrait"
      />
      <img
        class="portrait fade-in"
        src="\imgs\Benecia-plant-water.JPG"
        alt="girl portrait water"
      />
      <img
        class="portrait fade-in"
        src="\imgs\couples-fall-minisesh.jpg"
        alt="couple portrait fall leaves"
      />
      <img
        class="portrait fade-in"
        src="/imgs/couple-beach-portrait.jpg"
        alt="beach couple photography"
      />
      <img
        class="portrait fade-in"
        src="/imgs/fall-couple-kiss.jpg"
        alt="fall couple kiss portrait"
      />
      <img
        class="landscape fade-in"
        src="\imgs\golden-beam-portrait.jpg"
        alt="golden hour senior portrait"
      />
      <img
        class="portrait fade-in"
        src="\imgs\golden-senior-portrait.jpg"
        alt="senior portrait girl looking away"
      />
      <img
        class="portrait fade-in"
        src="\imgs\mustards-flannel.jpg"
        alt="mustard flannel senior portrait"
      />
      <img
        class="landscape fade-in"
        src="\imgs\family-sitting-lawn.jpg"
        alt="sitting lawn family portrait"
      />
      <img
        class="portrait fade-in"
        src="\imgs\Portrait-sping-mustards.jpg"
        alt="spring field senior portrait"
      />
      <img
        class="landscape fade-in"
        src="\imgs\couples-girl-waves.jpg"
        alt="couple portrait beach waves"
      />
      <img
        class="portrait fade-in"
        src="\imgs\vine-wall.jpg"
        alt="vine wall senior portrait"
      />
      <img
        class="portrait fade-in"
        src="\imgs\yellow-field-blue-sky.jpg"
        alt="yellow field senior portrait"
      />
      <img
        class="landscape fade-in"
        src="/imgs/mother-daughter-vineyard.jpg"
        alt="mother daughter vineyard"
      />
      <img
        class="landscape fade-in"
        src="/imgs/fall-couple-portrait.jpg"
        alt="fall couple portrait"
      />
      <img
        class="portrait fade-in"
        src="/imgs/family-portrait.jpg"
        alt="family portrait"
      />
      <img
        class="landscape fade-in"
        src="/imgs/mother-daughter-flowers.jpg"
        alt="mother daughter flowers"
      />
      <img
        class="landscape fade-in"
        src="/imgs/family-portrait-vineyard.jpg"
        alt="family portrait napa vineyard"
      />
      <img
        class="portrait fade-in"
        src="\imgs\fam-bro-sis.jpg"
        alt="family portrait brother and sister"
      />
      <img
        class="landscape fade-in"
        src="\imgs\family-bench-candid.jpg"
        alt="candid bench family portrait"
      />
      <img
        class="portrait fade-in"
        src="\imgs\portrait-girl-fall.jpg"
        alt="portrait girl fall"
      />
      <img
        class="landscape fade-in"
        src="\imgs\mother-daughter-flowers2.jpg"
        alt="mother daughter family portrait"
      />
      <img
        class="portrait fade-in"
        src="\imgs\senior-portrait.jpg"
        alt="cap gown senior portrait"
      />
      <img
        class="landscape fade-in"
        src="/imgs/couples-portrait.jpg"
        alt="couples portrait"
      />
    </div>

    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
