<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>

<body>
    <div class="navbar">
        <h1>Micamera Studios</h1>
        <div class="options">
            <ul>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <img src="/imgs/carmenTat3.png" alt="">
        <img src="/imgs/vinceElise1.jpg" alt="" />
        <img src="/imgs/juneBee2.jpg" alt="" />
        <img src="/imgs/elliottBrenna3.jpg" alt="" />
        <img src="/imgs/elliottBrenna.jpg" alt="">
        <img src="/imgs/CarmenTat1.jpg" alt="">
        <img src="/imgs/claudiaBen.jpg" alt="">
        <img src="/imgs/elliottBrennaKiss.jpg" alt="">
        <img src="/imgs/HeaderImg2.jpg" alt="">
    
    </div>
</body>

</html>