<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery - Micamera</title>
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
  </head>

  <body>
    <%- include('partials/navbar') %>

    <div class="container">
      <img class="landscape" src="/imgs/carmen-tat-vineyard.jpg" alt="" />
      <img class="portrait" src="/imgs/vince-elise1.jpg" alt="" />
      <img class="landscape" src="/imgs/juneBee2.jpg" alt="" />
      <img class="portrait" src="/imgs/carver-fam.jpg" alt="" />
      <img class="landscape" src="/imgs/fall-eb.jpg" alt="" />
      <img class="landscape" src="/imgs/carmen-tat-flowers.jpg" alt="" />
      <img class="landscape" src="/imgs/claudiaBen.jpg" alt="" />
      <img class="portrait" src="/imgs/fall-kiss.jpg" alt="" />
      <img class="landscape" src="/imgs/carver-full-fam.jpg" alt="" />
    </div>

    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
