<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery - Micamera</title>
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
  </head>

  <body>
    <div class="navbar">
      <div class="options">
        <ul>
          <li><a href="/services">Services</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <h1><a href="/">Micamera Studios</a></h1>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <img src="/imgs/carmen-tat-vineyard.jpg" alt="" />
      <img src="/imgs/vince-elise1.jpg" alt="" />
      <img src="/imgs/juneBee2.jpg" alt="" />
      <img src="/imgs/carver-fam.jpg" alt="" />
      <img src="/imgs/fall-eb.jpg" alt="" />
      <img src="/imgs/carmen-tat-flowers.jpg" alt="" />
      <img src="/imgs/claudiaBen.jpg" alt="" />
      <img src="/imgs/fall-kiss.jpg" alt="" />
      <img src="/imgs/carver-full-fam.jpg" alt="" />
    </div>
  </body>
</html>
