<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 viewport-fit=cover"
    />
    <title>Bay Area Portrait Photography - Micamera Studios</title>
    <meta
      name="description"
      content="Vacaville-based lifestyle portrait photography for families, couples, senior graduates, engagements, and more. Book your session now!"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- // Hero image and accompanying text -->
    <div class="header">
      <!--Footer-->
      <%- include('partials/navbar') %>

      <div class="headertext">
        <h1>
          Ready to Make Some <br />
          Memories?
        </h1>
        <h2 class="subheading">Family - Couples - Senior</h2>
        <button class="homeBtn"><a href="/contact">Get A Quote</a></button>
      </div>
    </div>

    <!--End Hero Image // Begin Styles Of Photography Section-->

    <div class="section2">
      <h1>Let's Capture Some Moments</h1>

      <div class="section2Imgs">
        <div class="imgContainer">
          <img src="/imgs/senior-portrait.jpg" alt="senior portrait" />
          <a class="showBtns" href="/gallery"><button>Senior</button></a>
        </div>

        <div class="imgContainer">
          <img src="/imgs/fall-couple-kiss.jpg" alt="fall couple kiss" />
          <a class="showBtns" href="/gallery"
            ><button>Couples & Engagement</button></a
          >
        </div>

        <div class="imgContainer">
          <img src="/imgs/family-portrait.jpg" alt="" />
          <a class="showBtns" href="/gallery"><button>Family</button></a>
        </div>
      </div>

      <div class="section2Btns hideBtns">
        <a href="/gallery"><button>Senior</button></a>
        <a href="/gallery"><button>Couples & Engagement</button></a>
        <a href="/gallery"><button>Family</button></a>
      </div>
    </div>

    <!--End Styles of Photography Section // Begin About Me -->

    <div class="aboutMe">
      <div class="img">
        <img src="/imgs/about-me.jpg" alt="" />
      </div>
      <div class="aboutMeTxt">
        <div class="headings">
          <h1>Welcome!</h1>
          <h2>I'm Micah</h2>
        </div>
        <div class="aboutMePara">
          <p class="p">
            &ensp; I am a Vacaville-based, lifestyle portrait photographer here
            to capture the little moments that you'll look back on with a smile
            in the future.
          </p>

          <p class="p p2">
            &ensp; I love seeing the wonderful emotions that unfold between
            family and friends during these shoots. It is my desire to capture
            something for you and your loved ones to treasure for years to come,
            no matter how big or small those moments are.
          </p>
        </div>
        <div class="aboutMeBtn">
          <a href="/about"><button>Meet The Photographer</button></a>
        </div>
      </div>
    </div>

    <!--End About Me // Begin Testimonial Section-->

    <div class="section3">
      <div class="content">
        <div class="testimonials">
          <img
            src="/imgs/mother-daughter-flowers.jpg"
            alt="mother daughter flowers"
          />

          <div class="group">
            <h2 class="sec3Txt">Kristen R.</h2>
            <div class="line"></div>
            <p class="sec3para">
              "Micah did an awesome job with my summer graduation photos. He was
              super creative, friendly, and used several cool locations! It was
              a fun afternoon, and if I ever need a photoshoot done again, I
              know exactly who to go to!"
            </p>
          </div>
        </div>
        <div class="testimonials">
          <div class="group">
            <h2 class="sec3Txt">Destinee R.</h2>
            <div class="line"></div>
            <p class="sec3para">
              "Me and my family have used Micah for our photos countless times
              and he never disappoints! We always have a great time throughout
              the shoot and he is very professional. He's always on time and
              suggests great ideas. If you need a photographer, you should
              definitely go with him!"
            </p>
          </div>
          <img
            src="/imgs/fall-couple-portrait.jpg"
            alt="fall couple nature portrait"
          />
        </div>
      </div>
    </div>

    <!--End Testimonial Section // Begin Footer-->

    <%- include('partials/footer') %>

    <!--End Footer-->
    <%- include('partials/scripts') %>
  </body>
</html>
