<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micamera</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- // Hero image and accompanying text -->
    <div class="header">
      <!--Footer-->
      <%- include('partials/navbar') %>

      <div class="headertext">
        <h1>
          Ready to Make Some <br />
          Memories?
        </h1>
        <h2 class="subheading">Family - Couples - Senior</h2>
        <button class="homeBtn"><a href="/contact">Book Now</a></button>
      </div>
    </div>

    <!--End Hero Image // Begin Styles Of Photography Section-->

    <div class="section2">
      <h1>Let's Capture Some Moments</h1>
      <div class="section2Imgs">
        <img src="/imgs/kristen-senior.jpg" alt="" />
        <img src="/imgs/fall-kiss.jpg" alt="" />
        <img src="/imgs/carver-fam.jpg" alt="" />
      </div>
      <div class="section2Btns">
        <a href="/gallery"><button>Senior</button></a>
        <a href="/gallery"><button>Couples & Engagement</button></a>
        <a href="/gallery"><button>Family</button></a>
      </div>
    </div>

    <!--End Styles of Photography Section // Begin About Me -->

    <div class="aboutMe">
      <div class="img">
        <img src="/imgs/about-me.jpg" alt="" />
      </div>
      <div class="aboutMeTxt">
        <div class="headings">
          <h1>Welcome!</h1>
          <h2>I'm Micah</h2>
        </div>
        <div class="aboutMePara">
          <p class="p">
            &ensp; As a photographer I'm here to create the little moments that
            you'll look back on with a smile in the future. My goal is to
            capture the wonderful emotions that unfold when you're with the
            people you love.
          </p>

          <p class="p p2">
            &ensp; I want to be there to capture your happiness and love. I want
            you to look back at the photographs and relive the memories that you
            have allowed me to help create with you. I'll be very happy to
            capture your moments no matter how big or small they are.
          </p>
        </div>
        <div class="aboutMeBtn">
          <a href="/about"><button>Meet The Photographer</button></a>
        </div>
      </div>
    </div>

    <!--End About Me // Begin Testimonial Section-->

    <div class="section3">
      <div class="content">
        <div class="testimonials">
          <img src="/imgs/carmen-tat-flowers.jpg" alt="" />

          <div class="group">
            <h2 class="sec3Txt">Carmen & Tatiana</h2>
            <div class="line"></div>
            <p class="sec3para">
              "Micah did so good. 10/10 would recommend. An absolute delight to
              work with."
            </p>
          </div>
        </div>
        <div class="testimonials">
          <div class="group">
            <h2 class="sec3Txt">Elliott & Brenna</h2>
            <div class="line"></div>
            <p class="sec3para">
              "Micah did so good. 10/10 would recommend. An absolute delight to
              work with."
            </p>
          </div>
          <img src="/imgs/fall-eb.jpg" alt="" />
        </div>
      </div>
    </div>

    <!--End Testimonial Section // Begin Footer-->

    <%- include('partials/footer') %>

    <!--End Footer-->
  </body>
</html>
