<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <p>Services</p>
    </div>

    <div class="packages">
        <div class="package1">
            <h1>Mi Amor</h1>
            <p>-1 hr session
                -1 outfit
                -1 location
                - minimum of 30 high-res photos
                - online gallery
            </p>
            <button><a href="contact.ejs">Inquire</a></button>
        </div>
        <div class="package2">
            <h1>Us</h1>
            <p>-2 hr session
                -3 outfits
                -2 location
                -minimum of 60
                high res photos
                -online gallery
            </p>
            <button><a href="contact.ejs">Inquire</a></button>
        </div>
        <div class="package3">
            <h1>Together</h1>
            <p>
                -1 hr session
                -minimum of 25
                high-res photos
                -online gallery
            </p>
            <button><a href="contact.ejs">Inquire</a></button>
        </div>
        <div class="package4">
            <h1>Corazones</h1>
            <p>
                -2 hr session
                -minimum of 50
                high-res photos
                -online gallery
            </p>
            <button><a href="contact.ejs">Inquire</a></button>
        </div>

    </div>

</body>
    
    </html>