<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Bay Area Portrait Photography - Micamera Studios</title>
    <meta
      name="description"
      content="Vacaville-based lifestyle portrait photography for families, couples, senior graduates, engagements, and more. Book your session now!"
    />
    <link rel="stylesheet" href="/stylesheets/services.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/navbar') %>

    <!-- Hero Image and Services Box-->
    <div class="header">
      <p class="services">Services</p>
    </div>

    <!--End Hero & Begin Packages-->

    <div class="packages">
      <div class="package-detail-wrap fade-in">
        <div class="packageDetail">
          <h1>Mi Amor</h1>
          <p class="subheading">Couple Session</p>
          <div class="txt">
            <p>-1 hr session</p>
            <p>-1 outfit</p>
            <p>-1 location</p>
            <p>-minimum of 30 high-res photos</p>
            <p>-online gallery</p>
            <p class="price">$250</p>
          </div>
          <a href="/contact"><button>Inquire</button></a>
        </div>
        <a class="hidden-btn" href="/contact"><button>Inquire</button></a>
      </div>

      <div class="package-detail-wrap fade-in">
        <div class="packageDetail">
          <h1>Us</h1>
          <p class="subheading">Couple Session</p>
          <div class="txt">
            <p>-2 hr session</p>
            <p>-3 outfits</p>
            <p>-2 locations</p>
            <p>-minimum of 60 high res photos</p>
            <p>-online gallery</p>
            <p class="price">$300</p>
          </div>
          <a href="/contact"><button>Inquire</button></a>
        </div>
        <a class="hidden-btn" href="/contact"><button>Inquire</button></a>
      </div>

      <div class="package-detail-wrap fade-in">
        <div class="packageDetail">
          <h1>Together</h1>
          <p class="subheading">Family Session</p>
          <div class="txt">
            <p>-1 hr session</p>
            <p>-1 outfit</p>
            <p>-1 location</p>
            <p>-minimum of 25 high-res photos</p>
            <p>-online gallery</p>
            <p class="price">$350</p>
          </div>
          <a href="/contact"><button>Inquire</button></a>
        </div>
        <a class="hidden-btn" href="/contact"><button>Inquire</button></a>
      </div>

      <div class="package-detail-wrap fade-in">
        <div class="packageDetail">
          <h1>Corazones</h1>
          <p class="subheading">Family Session</p>
          <div class="txt">
            <p>-2 hr session</p>
            <p>-1 outfit</p>
            <p>-2 locations</p>
            <p>-minimum of 50 high-res photos</p>
            <p>-online gallery</p>
            <p class="price">$400</p>
          </div>
          <a href="/contact"><button>Inquire</button></a>
        </div>
        <a class="hidden-btn" href="/contact"><button>Inquire</button></a>
      </div>

      <div class="package-detail-wrap fade-in">
        <div class="packageDetail">
          <h1>New Chapter</h1>
          <p class="subheading">Senior Portrait Session</p>
          <div class="txt">
            <p>-1 hr session</p>
            <p>-2 outfits</p>
            <p>-1 location</p>
            <p>-minimum of 25 high res photos</p>
            <p>-online gallery</p>
            <p class="price">$200</p>
          </div>
          <a href="/contact"><button>Inquire</button></a>
        </div>
        <a class="hidden-btn" href="/contact"><button>Inquire</button></a>
      </div>

      <div class="package-detail-wrap fade-in">
        <div class="packageDetail">
          <h1>Just You</h1>
          <p class="subheading">Single Portrait/Headshot Session</p>
          <div class="txt">
            <p>-45 minute session</p>
            <p>-1 outfit</p>
            <p>-1 location</p>
            <p>-minimum of 15 high res photos</p>
            <p>-online gallery</p>
            <p class="price">$185</p>
          </div>
          <a href="/contact"><button>Inquire</button></a>
        </div>
        <a class="hidden-btn" href="/contact"><button>Inquire</button></a>
      </div>
    </div>

    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
