<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Services - Micamera</title>

    <link rel="stylesheet" href="/stylesheets/services.css" />
  </head>

  <body>
    <%- include('partials/navbar') %>

    <!-- Hero Image and Services Box-->
    <div class="header">
      <p class="services">Services</p>
    </div>

    
    <!--End Hero & Begin Packages-->

    <div class="packages">
      <div class="packageDetail">
        <h1>Mi Amor</h1>
        <div class="txt">
          <p>-1 hr session</p>
          <p>-1 outfit </p>
          <p>-1 location</p>
          <p>-minimum of 30 high-res photos</p>
          <p>-online gallery</p>
        </div>
        <a href="/contact"><button>Inquire</button></a>
</div>
<div class="packageDetail">
        <h1>Us</h1>
        <div class="txt">
          <p>-2 hr session</p>
          <p>-2 locations</p>
          <p>-minimum of 60 high res photos</p>
          <p>-online gallery</p>
        </div>
        <a href="/contact"><button>Inquire</button></a>
        </div>
<div class="packageDetail">
        <h1>Together</h1>
        <div class="txt">
          <p>-1 hr session</p>
          <p>-minimum of 25 high-res photos </p>
          <p>-online gallery</p>
        </div>
        <a href="/contact"><button>Inquire</button></a>
        </div>
<div class="packageDetail">
        <h1>Corazones</h1>
        <div class="txt">
          <p>-2 hr session</p>
          <p>-minimum of 50 high-res photos</p>
          <p>-online gallery</p>
        </div>
        <a href="/contact"><button>Inquire</button></a>
        </div>
</div>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>
