footer {
  display: flex;
  margin-top: 8rem;
  justify-content: flex-start;
  height: 18rem;
  width: 100%;
  background-color: #234770;
  min-height: 285px;

  .quickLinks {
    color: white;
    height: 100%;
    margin-left: 10rem;
    margin-top: 1em;
    width: 18%;
  }
  a {
    text-decoration: none;
    color: white;
    transition: all .25s;
  }
  a:hover {
    border-bottom: white 1px solid; 
    
  }
  .email-link {
    margin-left: 12px;
  }
  .social {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    .insta {
      margin-left: 10px;
      transition: all .25s;
    }
    a:hover {
      border-bottom: 1px solid white;
    }
    img {
      height: 24px;
      align-self: center;
    }
    svg {
      align-self: center;
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      margin: 0;
    }
  }
}

@media (max-width: 992px) {
  footer {
    .quickLinks {
      margin-left: 8rem;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .quickLinks {
      width: 25%;
      margin-left: 5rem;
      .pageLinks {
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 576px) {
  footer {
    .quickLinks {
      width: 30%;
      margin: 0;
      padding-left: 2rem;
    }
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 0.8rem;
    height: fit-content;
    flex-direction: column;
    padding-bottom: 2rem;

    .quickLinks {
      width: 50%;
      padding-left: 2.5rem;
      padding-bottom: 1.5rem;
    }

    .pageLinks {
      margin: 0.2rem;
    }
  }
}
