
    

  }
}
.hidden {
  display: none;
}
.options2 {
  z-index: 100;
  position: fixed;
  top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: fit-content;
  min-width: none;
  .nav-li {
    height: 75px;
    margin: 0px;
    a {
      text-decoration: none;
    }
  }
  background-color: rgba(35, 35, 35, 0.9);
  .icon-hidden {
    display: block;
  }
  ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 80%;
    width: 100%;
    padding: 0;

    .nav-li:hover {
      border-bottom: none;
      background-color: white;
      color: black;
      margin: 0;
      transition: 0.25s;
      transform: none;
      a {
        color: black;
      }
    }
    li {
      font-size: 1.1rem;
      width: 100%;
      height: 100%;
      text-align: center;

      a {
        width: 100%;
        height: 100%;
        color: white;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .btn {
    height: 60px;
    justify-content: center;
    width: 100%;
    a {
      margin: 0;
      width: 100%;
      .nav-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        height: 60px;
        border: none;
        font-size: 1rem;
        background-color: #234770f1;
        color: white;
        cursor: pointer;
      }
      .nav-btn:hover {
        background-color: white;
        color: #234770f1;
        transition: 0.25s;
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    .home-img {
      align-items: center;
      img {
        min-width: 200px;
        padding: 0;
      }
    }
  }
}

@media(max-width: 320px)  {
  .navbar {
    .home-img {
      min-width: 160px;
      img {
        min-width: 160px;
        width: 160px;
      }
    }
  }
}
