.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 8vh;
  min-height: 58px;
  background-color: #234770f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
          box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .options {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  height: 100%;
}

.navbar .home-img {
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .home-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .home-img img {
  margin-left: 20px;
  width: 80%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 273px;
}

.navbar ul {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.navbar ul li {
  list-style: none;
  display: inline;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar ul a {
  text-decoration: none;
  color: rgba(176, 225, 245, 0.911);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 44%;
  height: 100%;
  min-width: 120px;
}

.navbar .btn a {
  width: 35%;
  height: 60%;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .btn a button {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  background-color: #234770f1;
  border: 2px solid white;
}

.navbar .btn a button:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navbar ul li:hover {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.navbar ul .nav-li:hover {
  border-bottom: 1px solid white;
  color: white;
}

.navbar ul a:hover {
  color: white;
}

.icon-hidden {
  display: none;
}

@media (max-width: 1200px) {
  .navbar .home-img img {
    min-width: 200px;
  }
  .navbar .nav-li {
    margin: 1em;
  }
  .navbar .btn a button {
    font-size: 0.9em;
  }
}

@media (max-width: 992px) {
  .navbar .home-img img {
    min-width: 200px;
  }
  .navbar ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: .9em;
  }
  .navbar .btn a {
    width: 50%;
  }
  .navbar .btn a button {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: visible;
  }
  .navbar .icon-hidden {
    top: 28%;
    position: absolute;
    right: 20px;
    display: initial;
    cursor: pointer;
  }
  .navbar .home-img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .navbar .home-img img {
    min-width: 200px;
    padding-top: 5px;
  }
  .navbar .hidden {
    display: none;
  }
  .navbar .options {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 300px;
    min-width: none;
    background-color: rgba(35, 35, 35, 0.9);
  }
  .navbar .options .nav-li {
    height: 100px;
    margin: 0px;
  }
  .navbar .options .icon-hidden {
    display: block;
  }
  .navbar .options ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    width: 100%;
  }
  .navbar .options ul .nav-li:hover {
    border-bottom: none;
    background-color: white;
    color: black;
    margin: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
  }
  .navbar .options ul .nav-li:hover a {
    color: black;
  }
  .navbar .options ul li {
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .navbar .options ul li a {
    width: 100%;
    height: 100%;
    color: white;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .options .btn {
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .navbar .options .btn a {
    margin: 0;
    width: 100%;
  }
  .navbar .options .btn a .nav-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1.0rem;
  }
}

@media (max-width: 576px) {
  .navbar .home-img img {
    min-width: 200px;
    padding-top: 5px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 18em;
  width: 100%;
  background-color: #234770;
  min-height: 285px;
}

footer .quickLinks {
  color: white;
  height: 100%;
  margin-left: 10em;
  margin-top: 1em;
  width: 18%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .email-link {
  margin: 0;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .social p {
  margin-left: 10px;
}

footer .social img {
  height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .social svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0.7em;
}

.content {
  height: 140vh;
  min-height: 686px;
  background-color: rgba(212, 225, 240, 0.6);
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 1000px;
}

.content .text {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80%;
  width: 60%;
  padding: 10px;
}

.content .text .about-me-paras {
  margin-top: .5rem;
}

.content .text .aboutButtons {
  margin-right: 50px;
}

.content .text p {
  font-size: 1.3rem;
  line-height: 1.4em;
  margin-bottom: 1.3em;
}

.content .text h1 {
  margin-left: 0.5em;
  margin-bottom: 10px;
}

.content img {
  width: 30%;
}

.content .aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7em;
  width: 40%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content a {
  width: 80%;
  height: 45%;
}

.content button {
  min-width: 280px;
  min-height: 36px;
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-color: #234770f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content button:hover {
  background-color: white;
  color: #234770f1;
  border: 2px solid #234770f1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .line {
  margin: 0;
  margin-left: 0.7em;
  border-bottom: black solid 2px;
  width: 15%;
}

@media (max-width: 1400px) {
  .content {
    min-height: 1000px;
  }
  .content img {
    min-width: 402px;
  }
  .content .text {
    height: 70%;
  }
  .content .text .p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1000px) {
  .content {
    min-height: 1100px;
  }
  .content img {
    margin-bottom: 50px;
  }
  .content .text {
    height: 65%;
    margin-bottom: 50px;
  }
  .content .text .p {
    font-size: 1rem;
    margin-bottom: 1em;
  }
  .content button {
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 1450px;
  }
  .content img {
    margin-bottom: 0;
  }
  .content .text {
    width: 80%;
  }
  .content .text h1 {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .content {
    min-height: 1550px;
  }
  .content .text .aboutButtons {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-top: 10px;
  }
  .content .text .aboutButtons button {
    width: 80%;
    text-decoration: none;
  }
  .content .text a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .text h1 {
    font-size: 1.5rem;
  }
  .content img {
    min-width: 375px;
  }
}

@media (max-width: 400px) {
  .content {
    min-height: 1600px;
  }
}
/*# sourceMappingURL=about.css.map */