.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 8vh;
  min-height: 58px;
  background-color: #234770f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
          box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .options {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  height: 100%;
}

.navbar .home-img {
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .home-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .home-img img {
  margin-left: 20px;
  width: 80%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 273px;
}

.navbar ul {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.navbar ul li {
  list-style: none;
  display: inline;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar ul a {
  text-decoration: none;
  color: rgba(176, 225, 245, 0.911);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 44%;
  height: 100%;
  min-width: 120px;
}

.navbar .btn a {
  width: 35%;
  height: 60%;
  text-decoration: none;
  margin-right: 30px;
}

.navbar .btn a button {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  background-color: #234770f1;
  border: 2px solid white;
}

.navbar .btn a button:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navbar ul li:hover {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.navbar ul .nav-li:hover {
  border-bottom: 1px solid white;
  color: white;
}

.navbar ul a:hover {
  color: white;
}

.icon-hidden {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .navbar .home-img img {
    min-width: 200px;
  }
  .navbar .nav-li {
    margin: 1em;
  }
  .navbar .btn {
    width: 45%;
  }
  .navbar .btn a button {
    font-size: 0.9em;
    min-width: 115px;
  }
}

@media (max-width: 992px) {
  .navbar .home-img img {
    min-width: 200px;
  }
  .navbar ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0.9em;
  }
  .navbar .btn a {
    width: 50%;
  }
  .navbar .btn a button {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: visible;
  }
  .navbar .icon-hidden {
    top: 0px;
    position: absolute;
    right: 20px;
    display: initial;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .home-img {
    justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 100%;
    min-width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .home-img img {
    min-width: 200px;
    padding-top: 5px;
  }
  .navbar .hidden {
    display: none;
  }
  .navbar .options {
    display: none;
  }
}

.hidden {
  display: none;
}

.options2 {
  z-index: 100;
  position: fixed;
  top: 8vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: none;
  background-color: rgba(35, 35, 35, 0.9);
}

.options2 .nav-li {
  height: 75px;
  margin: 0px;
}

.options2 .nav-li a {
  text-decoration: none;
}

.options2 .icon-hidden {
  display: block;
}

.options2 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 80%;
  width: 100%;
  padding: 0;
}

.options2 ul .nav-li:hover {
  border-bottom: none;
  background-color: white;
  color: black;
  margin: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: none;
          transform: none;
}

.options2 ul .nav-li:hover a {
  color: black;
}

.options2 ul li {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

.options2 ul li a {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options2 .btn {
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.options2 .btn a {
  margin: 0;
  width: 100%;
}

.options2 .btn a .nav-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 1rem;
  background-color: #234770f1;
  color: white;
  cursor: pointer;
}

.options2 .btn a .nav-btn:hover {
  background-color: white;
  color: #234770f1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .navbar .home-img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .home-img img {
    min-width: 200px;
    padding: 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 18rem;
  width: 100%;
  background-color: #234770;
  min-height: 285px;
}

footer .quickLinks {
  color: white;
  height: 100%;
  margin-left: 10rem;
  margin-top: 1em;
  width: 18%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .email-link {
  margin: 0;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .social p {
  margin-left: 10px;
}

footer .social img {
  height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .social svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 0;
}

@media (max-width: 992px) {
  footer .quickLinks {
    margin-left: 8rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  footer .quickLinks {
    width: 25%;
    margin-left: 5rem;
  }
  footer .quickLinks .pageLinks {
    margin: 0.5rem;
  }
}

@media (max-width: 576px) {
  footer .quickLinks {
    width: 30%;
    margin: 0;
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 0.8rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
  footer .quickLinks {
    width: 50%;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
  }
  footer .pageLinks {
    margin: 0.2rem;
  }
}

html {
  padding: env(safe-area-inset);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0.7em;
}

.all-content {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(212, 225, 240, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
  padding: 3em 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

img {
  float: left;
  width: 400px;
  margin-right: 25px;
}

.text {
  width: 900px;
  height: 100%;
}

.text .line {
  margin: 0;
  margin-right: 21.2em;
  border-bottom: black solid 2px;
  width: 8rem;
  float: right;
  display: block;
  position: absolute;
}

.text h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.15em;
}

.text .about-me-paras p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
}

.text .about-me-paras .p-intro {
  margin-top: 20px;
}

.text .about-me-paras .p5 {
  text-align: right;
  width: 90%;
}

.text .aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text .aboutButtons a {
  margin-top: 15px;
  margin-right: 2em;
  height: 45px;
  width: 200px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.text .aboutButtons a button {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  background-color: #234770f1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.75em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover {
  color: #5c88bc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover button:hover {
  background-color: white;
  color: #5c88bc;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  cursor: pointer;
}

@media (max-width: 996px) {
  .all-content {
    width: 100vw;
    max-width: 100vw;
  }
  .all-content .content {
    width: 100%;
    max-width: 100%;
  }
  .all-content .content img {
    width: 20rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .all-content .content .text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 2rem;
  }
  .text .about-me-paras p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=about.css.map */