.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 8vh;
  background-color: #234770f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
          box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
}

.navbar .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.navbar .home-img {
  width: 20%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 30px;
  margin-top: 2px;
}

.navbar .home-img img {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar ul {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.navbar ul li {
  list-style: none;
  display: inline;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar ul a {
  text-decoration: none;
  color: rgba(176, 225, 245, 0.911);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}

.navbar .btn a {
  width: 50%;
  height: 42%;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .btn a button {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  background-color: #234770f1;
  border: 2px solid white;
}

.navbar .btn a button:hover {
  background-color: white;
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.navbar ul li:hover {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.navbar ul .nav-li:hover {
  border-bottom: 1px solid white;
  color: white;
}

.navbar ul a:hover {
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 18em;
  width: 100%;
  background-color: #234770;
}

footer .quickLinks {
  color: white;
  height: 100%;
  margin-left: 150px;
  margin-top: 1em;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

footer .social p {
  margin: 0;
  margin-top: 0.4em;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
  width: 100%;
  height: 70vh;
}

body h1 {
  text-align: center;
  margin-bottom: 1%;
  margin-top: 0;
  font-size: 3.7rem;
  color: #343a40;
}

body .subheading {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 0;
  width: 60%;
  font-weight: 500;
  color: #6c757d;
}

body .subheading-linebreak {
  display: inline-block;
  width: 6%;
  border-bottom: solid 1px #6c757d;
  line-height: 0.1em;
  margin: 5px 0 5px;
}

.main-paragraph {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 15px;
  width: 55%;
  color: #495057;
}

svg {
  margin-top: 4em;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D4E1F0;
  width: 100vw;
  height: 50vh;
  padding: 3em 0;
}

.contact-form .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .column .input-element {
  width: 100%;
  height: 30%;
}

form .input-element {
  padding: 0 4em;
}

form label {
  display: block;
  color: black;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

form input {
  width: 75%;
  height: 45%;
  border: 4px double #495057;
  border-radius: 5px;
  color: #343a40;
}

.package-select select {
  width: 50%;
  height: 60%;
  border: 4px double #495057;
  border-radius: 5px;
  font-size: 15px;
  color: #343a40;
}

.notes-box input {
  height: 6em;
}

.send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}

.send-button button {
  width: 17em;
  height: 3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #234770f1;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
}

.send-button button:hover {
  background-color: white;
  color: #234770f1;
  -webkit-box-shadow: 5px 5px 5px #343a40;
          box-shadow: 5px 5px 5px #343a40;
  -webkit-transition: .2s;
  transition: .2s;
}
/*# sourceMappingURL=contact.css.map */