@import 'navbar';
@import 'footer';

html {
  margin: 0;
  overflow-x: hidden;
  padding: env(safe-area-inset);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    width: 100%;
    height: 70vh;
  }

  h1 {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0.5em;
    font-size: 3.7rem;
    color: #343a40;
  }

  .subheading {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0;
    width: 60%;
    font-weight: 500;
    color: #6c757d;
  }

  .subheading-linebreak {
    display: inline-block;
    width: 6%;
    border-bottom: solid 1px #6c757d;
    line-height: 0.1em;
    margin: 5px 0 5px;
  }
}

.main-paragraph {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 15px;
  width: 55%;
  color: #495057;
}

.svg {
  margin-top: 1em;
  margin-bottom: 2em;
  min-height: 4em;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d4e1f0;
  width: 100vw;
  height: 50vh;
  padding: 3em 0;
  // padding-left: 4em;

  .column {
    display: flex;
    width: 50%;
    height: 100%;
    // flex: 2 2 10%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;

    .input-element {
      width: 100%;
      height: 33%;
    }
  }
}

form {
  label {
    display: block;
    color: black;
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }

  input {
    width: 100%;
    height: 35%;
    border: 4px double #495057;
    border-radius: 5px;
    color: #343a40;
  }
}

.package-select select {
  width: 50%;
  height: 40%;
  border: 4px double #495057;
  border-radius: 5px;
  font-size: 15px;
  color: #343a40;
  background-color: white;
}

.notes-box textarea {
  height: 4em;
  width: 100%;
  border: 4px double #495057;
  border-radius: 5px;
  color: #343a40;
  line-height: 1em;
  font-size: 1.5rem;
}

.send-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.send-button button {
  width: 17em;
  height: 3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #234770f1;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  margin-top: 1.25em;
}
.send-button button:hover {
  background-color: white;
  color: #234770f1;
  box-shadow: 5px 5px 5px #343a40;
  transition: 0.2s;
}

// Start Media Queries
@media (max-width: 1200px) {
  .main-paragraph {
    margin-top: 0;
  }

  .contact-form {
    padding: 3em 0;

    .column {
      margin: 0 2rem;
    }
  }
  .contact-form {
    .column {
      .input-element {
        input {
          font-size: 1.4rem;
        }
      }
      .notes-box {
        textarea {
          line-height: 2em;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .heading {
    h1 {
      font-size: 3rem;
    }
  }

  .main-paragraph {
    font-size: 1.3rem;
    width: 65%;
  }

  svg {
    max-height: 4em;
  }

  form {
    input {
      height: 30%;
    }
  }

  .package-select select {
    height: 40%;
    width: 60%;
  }

  .notes-box input {
    height: 4em;
  }

  .send-button button {
    margin-top: 0.75em;
  }
}

@media (max-width: 768px) {
  body .heading {
    padding: 0;
    height: 50vh;

    .subheading {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    .main-paragraph {
      font-size: 1.1em;
      width: 80%;
      margin-bottom: 0;
    }

    svg {
      margin-bottom: 20px;
    }
  }

  .contact-form {
    flex-direction: column;
    height: 70vh;

    .column {
      width: 80%;

      .input-element {
        margin: 0.5rem;
        height: 30%;
      }
    }
  }

  form {
    label {
      margin-bottom: 0.3em;
    }

    input {
      height: 50%;
    }
  }

  .package-select select {
    height: 55%;
    width: 45%;
  }

  .send-button button {
    margin-top: 3em;
  }
}

@media (max-width: 576px) {
  body .heading {
    height: 50vh;
    margin: 10% 0;
    h1 {
      font-size: 2.5rem;
    }

    .subheading {
      margin-bottom: 15px;
      font-size: 1.2rem;
    }

    .main-paragraph {
      font-size: 1.1em;
      width: 85%;
      margin-top: 5px;
    }

    svg {
      margin: 1.5em 0;
    }
  }

  .contact-form {
    height: 100vh;

    .column {
      width: 85%;
      .notes-box textarea {
        font-size: 1.1rem;
        line-height: 1em;
        width: 100%;
      }
      .input-element input {
        height: 40%;
        font-size: 1.1rem;
      }
    }

  }

  .send-button button {
    width: 75%;
    height: 55%;
  }
}

@media (max-width: 480px) {
  body .heading {
    height: 60vh;
    margin: 5% 0;

    h1 {
      margin-top: 20%;
      font-size: 2.4rem;
    }

    .subheading {
      font-size: 1.4em;
    }

    .main-paragraph {
      width: 90%;
    }
  }

  .contact-form {
    .column {
      width: 92%;
    }
  }

  .package-select select {
    width: 95%;
  }

  .send-button button {
    height: 70%;
    width: 80%;
    font-size: 1.3rem;
  }
  .input-element {
    input {
      height: 40%;
      width: 90%;
      font-size: 1.3rem;
    }
  }
}
