@import "navbar";


html {
    margin: 0;
}
body {
    margin: 0;
}



.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 176vh;
    // background-color: lightblue;
    margin: auto;
    margin-top: 50px;

    img{
        width: 32.5%;
        margin: 0;
    }
}