@import 'navbar';
@import 'footer';

html {
  padding: env(safe-area-inset);
}
html,
body {
  margin: 0;

}


.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 125px;
  max-width: 1200px;
  max-height: 1200px;

  img {
    width: 32.5%;
    height: auto;
    margin: auto;
    margin-bottom: 0.5rem;
  }
  // .landscape {
  //   height: 24%;
  // }
  // .portrait {
  //   height: 50%;
  // }
}

@media (max-width: 1300px) {
  .container {
    max-height: 1000px;
  }
}

@media (max-width: 1080px) {
  .container {
    max-height: 900px;
  }
}

@media (max-width: 1030px) {
  .container {
    max-height: 1700px;

    img {
      width: 46%;
      height: auto;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 898px) {
  .container {
    max-height: 1600px;
  }
}

@media (max-width: 843px) {
  .container {
    max-height: 1500px;
  }
}

@media (max-width: 788px) {
  .container {
    max-height: 1300px;
  }
}

@media (max-width: 768px) {
  .container {
    max-height: none;

    img {
      width: 80%;
      margin-bottom: 1.25rem;
    }
  }
}

@media (max-width: 576px) {
  .container {
    img {
      width: 95%;
    }
  }
}

@media (max-width: 480px) {
  .container {
    img {
      width: 100%;
    }
  }
}
