@import 'navbar';
@import 'footer';

html {
  padding: env(safe-area-inset);
}
html,
body {
  margin: 0;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8rem 1.5rem 3rem;

  h1 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 400;
  }

  .line-break {
    display: inline-block;
    width: 6%;
    border-bottom: solid 1px black;
    line-height: 0.1em;
    margin: 5px 5px 5px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
  // margin-top: 125px;
  max-width: 1200px;
  max-height: 3900px;
  min-width: 1200px;

  img {
    width: 325px;
    height: auto;
    margin: auto;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1200px) {
}
