@import 'navbar';
@import 'footer';

html {
  padding: env(safe-area-inset);
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

// Section 1 Hero Image and content within //

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightblue;
  text-align: center;
  margin: 0;
  background: url(/imgs/beach-walking.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 100%;
  a {
    text-decoration: none;
    color: black;
  }
}

.headertext {
  font-size: 1.7rem;
  color: white;
}

.subheading {
  margin-top: 0.5em;
  font-size: 1.5rem;
  font-weight: 400;
}

.homeBtn {
  width: 55%;
  height: 2.5em;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 0.5em;
  border: 2px solid white;
  color: white;
  background-color: #5c88bc;
  transition: all 0.25s;

  a {
    text-decoration: none;
    color: white;
  }
}

.homeBtn:hover {
  background-color: white;
  transform: translateY(-0.25em);
  cursor: pointer;

  a {
    color: #5c88bc;
    transition: 0.2s;
  }
}

// Section 2 (Styles of Photography//

.section2 {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(197, 219, 245, 0.1);
  min-height: 1027px;

  h1 {
    margin: 1em;
    font-size: 3rem;
    font-weight: 500;
    color: Black;
    height: 8%;
  }

  .section2Imgs {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 55%;
    min-width: 1180px;
    min-height: 560px;
  }

  img {
    margin: 0;
    width: 100%;
    display: block;
  }
  .imgContainer {
    height: auto;
    margin: 1em;
    width: 29%;
    position: relative;
    box-sizing: border-box;
  }

  .showBtns {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 13%;
    display: none;
    button {
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      background-color: white;
      color: #5c88bc;
      border: #5c88bc 2px solid;
    }
  }
  
  .hideBtns {
    display: block;
  }
  .section2Btns {
    width: 70%;
    display: flex;
    justify-content: space-between;
    min-width: 1180px;
    min-height: 87px;

    button {
      cursor: pointer;
      width: 100%;
      padding: 0.75em 0.75em;
      font-size: 1.2rem;
      font-weight: lighter;
      background-color: rgba(255, 255, 255, 0.3);
      color: #5c88bc;
      border: 2px solid #5c88bc;
    }
    button:hover {
      background-color: #5c88bc;
      color: white;
      transition: 0.2s;
    }
    a {
      margin: 1em;
      text-decoration: none;
      width: 29%;
    }
  }
}

// About Me Section //

.aboutMe {
  min-width: 1200px;
  min-height: 850px;
  height: 100vh;
  background-color: rgba(109, 153, 206, 0.3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .aboutMeTxt {
    height: 75%;
    width: 40%;
    margin-right: 5%;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .headings {
      line-height: 4rem;
      h2 {
        margin: 0;
      }
    }

    .aboutMePara {
      display: flex;
      flex-direction: column;
      height: 70%;
    }

    .p {
      font-weight: 400;
      color: #383838;
      margin: 0;
      margin-top: 0.7em;
    }

    .p2 {
      margin: 0;
    }

    .aboutMeBtn {
      display: flex;
      justify-content: flex-end;
    }

    a {
      align-self: flex-start;
    }

    button {
      // position: absolute;
      // bottom: 7%;
      // right: .5%;
      cursor: pointer;
      display: block;
      width: 17em;
      padding: 0.75em 0.75em;
      font-size: 1.2rem;
      font-weight: lighter;
      border: none;
      background-color: #234770f1;
      color: white;
      justify-self: flex-start;
      border-radius: 5px;
      // align-self: flex-end;
      // justify-self: flex-end;
    }

    button:hover {
      background-color: white;
      color: #234770f1;
      transition: 0.2s;
    }

    h1 {
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
      margin: 0;
      font-weight: lighter;
    }

    h2 {
      width: 100%;
      text-align: center;
      margin: 0.3em;
      font-size: 2.2rem;
      font-weight: lighter;
    }

    p {
      height: 40%;
      font-size: 1.3rem;
      line-height: 180%;
      font-weight: 100;
    }
  }
  .img {
    min-width: 500px;
    height: 90%;
    width: 30%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

//End About Me Begin Testimonials

.section3 {
  display: flex;
  align-items: center;
  height: 115vh;
  // background-color: lightcoral;
  margin: 0;
  min-height: 900px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    margin: auto auto;
    margin-top: 50px;

    p {
      margin: 0;
    }

    img {
      display: block;
      width: 45%;
    }
  }
  .testimonials {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

    .group {
      display: flex;
      flex-direction: column;
      width: 45%;
      align-items: center;
      justify-content: center;
      min-width: 400px;

      .line {
        margin: 0 0 20px;
        display: block;
        width: 30%;
        border-bottom: 2px solid black;
        line-height: 0.1em;
      }

      p {
        text-align: center;
        margin: auto;
        width: 60%;
        font-size: 1.5rem;
        margin: 0;
        padding: none;
        line-height: 1.5em;
        // right: 10%;
      }
      h2 {
        font-size: 1.7rem;
        margin-top: 0;
      }
    }
    img {
      width: 45%;
      min-width: 600px;
    }
  }
}

//End Testimonials

//Start Media Queries 

@media(max-width: 1550px) {

  .section3 {
    min-height: fit-content;
    .content {
      min-height: fit-content;
      .testimonials {
        img {
          min-width: 500px;
        }
      }
    }
  }
}

@media(min-width: 1400px) {
  .section2 {
    min-height: fit-content;
    height: fit-content;
    padding-bottom: 125px;
    .section2Imgs {
      min-height: fit-content;
      height: fit-content;
      .imgContainer {
        min-height: fit-content;
        height: fit-content;
      }
    }
  }
  .aboutMe .aboutMeTxt{
    margin: 0;
    .aboutMePara {
      p {
        font-size: 1.4rem;
        align-self: center;
        min-height: fit-content;
        max-width: 980px;
      }
    }
  }
}
@media(min-width: 1800px), (min-height: 1145px) {
  .header {
    .headertext {
      h1 {
        font-size: 4.5rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      button {
        height: 75px;
        font-size: 1.5rem;
      }
    }
  }
  .aboutMe .aboutMeTxt{
    .aboutMePara {
      p {
        font-size: 1.7rem;
      }
    }
    .aboutMeBtn {
      height: 75px;
      a {
        height: 100%;
      }
      button {
        height: 100%;
      }
    }
  }
}

@media(max-width: 1400px) {
  .section2 {
    max-height: 1000px;
    min-height: fit-content;
    height: fit-content;
    padding-bottom: 75px;
  }
  
  .aboutMe { 
    max-height: 1000px;
    .aboutMeTxt{
      margin-right: 0px;
      .aboutMePara{
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .section3{
    max-height: 850px;
    .content {
      .testimonials {
        p {
          font-size: 1.3rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media(max-width: 1285px) {
  .section3 {
    .content {
      .testimonials {
        img {
          min-width: 400px;
        }
        h2 {
          margin-top: 0;
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .section2 {
    min-height: fit-content;
    height: fit-content;
    .section2Btns {
      min-width: 1000px;
      justify-content: space-between;
      a {
        min-width: 300px;
      }
      button {
        min-width: 300px;
      }
    }
    .section2Imgs {
      min-width: 1000px;
      min-height: 500px;
      height: 500px;
      .imgContainer {
        min-width: 300px;
        height: fit-content;
        img {
          min-width: 300px;
          height: auto;
        }
      }

    }
  }
  .aboutMe {
    min-width: 1000px;
    .img {
      min-width: 400px;
      height: 665px;
    }
    .aboutMeTxt {
      min-width: 375px;
      h1 {
        font-size: 2.2rem;
        height: 55px;
      }
      h2 {
        font-size: 1.8rem;
        height: 55px;
      }
      .aboutMePara {
        p {
          font-size: 1.1rem;
          height: 170px;
        }
      }
    }
  }
  
    .section3 {
      .content {
        .testimonials {
          img{
            min-width: 375px;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
  }
}

@media(max-width: 1025px) {

  .section2 {
    .section2Btns {
      a,
      button {
        min-height: 54px;
      }
    }
  }
  .section3 {
    .content {
      .testimonials {
        img {
          max-height: 250px;
        }
      }
    }
  }
}

@media(max-width: 996px) {
  .section2 {
    h1 {
      font-size: 2.5rem;
    }
    min-height: 650px;
    height: 650px;
    .section2Btns {
      min-width: 750px;
      justify-content: space-between;
      a {
        min-width: 220px;
        min-height: none;
      }
      button {
        min-width: 220px;
        font-size: 1.1rem;
        min-height: none;
      }
    }
    .section2Imgs {
      min-height: 365px;
      min-width: 750px;
      height: 365px;
      .imgContainer {
        min-width: 220px;
        height: fit-content;
        img {
          min-width: 220px;
          height: auto;
        }
      }

    }
  }
  .aboutMe {
    min-width: 700px;
    min-height: fit-content;
    height: 600px;
    padding: 75px 0;
    .img {
      min-width: 325px;
      width: 35%;
      height: auto;
    }
    .aboutMeTxt {
      justify-content: space-evenly;
      margin-right: 0;
      width: 45%;
      h1 {
        font-size: 2.1rem;
        height: 45px;
      }
      h2 {
        font-size: 1.7rem;
        height: 65px;
      }
      .aboutMePara {
        justify-content: flex-start;
        height: fit-content;
        .p {
          font-size: 1.1rem;
          height: 180px;
          margin-top: 0;
        }
      }
      .aboutMeBtn {
        align-items: center;
        justify-content: center;
        justify-self: flex-end;
        margin-top: 20px;
        a {
          width: 250px;
          justify-self: flex-end;
        }
        button {
          width: 250px;
          font-size: 1.1rem;

        }
      }
    }
  }
  .section3 {
    min-width: 780px;
    min-height: 700px;
    height: 700px;
    .content {
      margin: 0;
      min-width: 500px;
      .testimonials {
        img {
          min-width: 300px;
        }
        .group {
          min-width: 300px;
        .sec3Txt {
          font-size: 1.2rem;
        }
          .sec3para {
            font-size: 1.1rem;
            width: 80%;
          }
        }
      }
    }
  }
  
}
//Left off on the section 2. Figure out how to style buttons
//Add hover effects to those buttons
@media(max-width: 858px) {
  .aboutMe {
    .aboutMeTxt {
      .aboutMeBtn {
        margin-top: 40px;
      }
    }
  }
}

@media(max-width: 768px) {
  .section2 {
    min-width: 600px;
    min-height: 1200px;
    height: 1200px;
    width: 100%;
    h1 {
      
      font-size: 2.2rem;
      margin-bottom: 0;
    }
    .section2Imgs {
      justify-content: space-around;
      min-width: 600px;
      width: 100%;
      min-height: 1000px;
      height: 1000px;
      flex-wrap: wrap;
      .imgContainer {
        min-width: 180px;
        width: 42%;
        img {
          min-width: 180px;
          width: 100%;
        }
        .showBtns {
          display: block;
        }
      }
      }

    .section2Btns {
      display: none;
    }
  }

  .aboutMe {
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
    height: fit-content;
    padding: 50px 0;
    min-width: 575px;
    width: 100%;
    .img {
      width: 55%;
    }
    .aboutMeTxt {
      width: 70%;
      height: 550px;
      .headings {
        h2 {
          height: 40px;
        }
      }
      .aboutMePara {
        min-height: fit-content;
        height: fit-content;
        
        .p {
          min-height: fit-content;
        height: fit-content;
        font-size: 1rem;
        }
        .p2 {
          margin-top: 20px;
          font-size: 1rem;
        }
      }
      .aboutMeBtn {
        margin-top: 0px;
      }
      
    }
   }
  .section3 {
    min-width: 575px;
    min-height: fit-content;
    height: fit-content;
    width: 100%;
    .content {
      min-width: 575px;
      width: 100%;
      .testimonials {
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 475px;
        .group {
          position: absolute;
          top: 0;
          .sec3para {
            min-width: 300px;
          }
        }
        img {
          position: absolute;
          bottom: 0;
          min-width: 400px;
        }
      }
    }
  }  
}

@media(max-width: 600px) {
  .section2 { 
    min-width: 300px;
    width: 100%;
    height: fit-content;
    h1 {
      text-align: center;
      font-size: 2rem;
    }

    
    .section2Imgs {
      padding: 25px;
      height: fit-content;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      min-width: 300px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .imgContainer {
        width: 55%;
      }
    }
  }
}

@media(max-width: 576px) {
  .aboutMe {
    min-width: 480px;
  }
  .section3 {
    min-width: 480px;
    .content {
      min-width: 480px;
    }
  }
}

@media(max-width: 480px) {
  .headertext {
    font-size: 1.4rem;
  }
  body {
    overflow-x: hidden;
  }
  .section2 {
    min-width: 200px; 
    width: 100%;
    .section2Imgs {
      min-width: 200px;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      .imgContainer {
        width: 65%;
      }
    }
  }
  .aboutMe {
    min-width: 200px;
    .img {
      min-width: 200px;
      width: 65%;
    }
    .aboutMeTxt {
      min-width: 200px;
      width: 90%;
      height: 575px;
    }
  }
  .section3 {
    min-width: 200px;
    width: 100%;
    .content {
      min-width: 200px;
      width: 100%;
      .testimonials {
        min-width: 200px;
        width: 100%;
          img {
            min-width: 200px;
            width: 100%;
          }
      }
    }
  }
}