.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 8vh;
  background-color: #234770f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: emoji;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(50, 57, 58, 0.705);
          box-shadow: 0px 5px 5px 3px rgba(50, 57, 58, 0.705);
}

.navbar .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.navbar .home-img {
  width: 20%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 30px;
  margin-top: 2px;
}

.navbar .home-img img {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar ul {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.navbar ul li {
  list-style: none;
  display: inline;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar ul a {
  text-decoration: none;
  color: rgba(176, 225, 245, 0.911);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}

.navbar .btn button {
  height: 50%;
  width: 45%;
  margin: 30px;
  border-radius: 10px;
}

.navbar .btn button a {
  text-decoration: none;
  color: black;
}

.navbar ul li:hover {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.navbar ul .nav-li:hover {
  border-bottom: 1px solid white;
  color: white;
}

.navbar ul a:hover {
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 18em;
  width: 100%;
  background-color: #234770;
}

footer .quickLinks {
  color: white;
  height: 100%;
  margin-left: 150px;
  margin-top: 1em;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

footer .social p {
  margin: 0;
  margin-top: 0.4em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: emoji;
}

h1 {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: lightblue;
  text-align: center;
  margin: 0;
  background: url(/imgs/beach-walking.jpg);
  background-size: cover;
  max-width: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.headertext {
  margin-top: 3em;
  font-size: 1.7rem;
  color: white;
}

.subheading {
  margin-top: 0.5em;
  font-size: 1.5rem;
  font-weight: lighter;
}

.homeBtn {
  width: 38%;
  height: 2.5em;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 0.5em;
  border: 2px solid white;
  color: white;
  background-color: #5c88bc;
}

.homeBtn a {
  text-decoration: none;
  color: white;
}

.section2 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(197, 219, 245, 0.1);
}

.section2 h1 {
  margin: 1em;
  font-size: 3rem;
  font-weight: lighter;
  color: Black;
}

.section2 .section2Imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.section2 img {
  margin: 1em;
  width: 29%;
}

.section2 .section2Btns {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .section2Btns button {
  margin: 0.82em;
  width: 29%;
  padding: 0.75em 0.75em;
  font-size: 1.2rem;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #5c88bc;
}

.section2 .section2Btns a {
  text-decoration: none;
  color: #5c88bc;
}

.aboutMe {
  height: 100vh;
  background-color: rgba(109, 153, 206, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .aboutMeTxt {
  height: 80%;
  width: 36%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe .aboutMeTxt button {
  display: block;
  width: 17em;
  padding: 0.75em 0.75em;
  font-size: 1.2rem;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  border-radius: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.aboutMe .aboutMeTxt h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  font-weight: lighter;
}

.aboutMe .aboutMeTxt h2 {
  width: 100%;
  text-align: center;
  margin: 0.3em;
  font-size: 2.2rem;
  font-weight: lighter;
}

.aboutMe .aboutMeTxt p {
  font-size: 1.5rem;
  line-height: 180%;
  font-weight: 100;
}

.aboutMe .img {
  height: 90%;
  width: 30%;
}

.aboutMe .img img {
  height: 100%;
  width: 100%;
}

.aboutMe a {
  text-decoration: none;
  color: black;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
}

.section3 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
  margin: auto auto;
  margin-top: 50px;
}

.section3 .content p {
  margin: 0;
}

.section3 .content img {
  display: block;
  width: 45%;
}

.section3 .testimonials {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3em;
}

.section3 .testimonials .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 .testimonials .group .line {
  margin: 0 0 20px;
  display: block;
  width: 30%;
  border-bottom: 2px solid black;
  line-height: 0.1em;
}

.section3 .testimonials .group p {
  text-align: center;
  margin: auto;
  width: 60%;
  font-size: 1.5rem;
  margin: 0;
  padding: none;
  line-height: 1.5em;
}

.section3 .testimonials .group h2 {
  font-size: 1.7rem;
}

.section3 .testimonials img {
  width: 45%;
}
/*# sourceMappingURL=home.css.map */