html {
  margin: 0;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  height: 75vh;
  background: url(/imgs/elliottBrenna4.jpg);
  background-size: cover;
  background-position: 0px -175px;
  max-width: 100%;

  p {
    text-align: center;
  }
}
