.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 8vh;
  min-height: 58px;
  background-color: #234770f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
          box-shadow: 0px 5px 5px 3px rgba(63, 70, 71, 0.589);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .options {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  height: 100%;
}

.navbar .home-img {
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .home-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .home-img img {
  margin-left: 20px;
  width: 80%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 273px;
}

.navbar ul {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.navbar ul li {
  list-style: none;
  display: inline;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar ul a {
  text-decoration: none;
  color: rgba(176, 225, 245, 0.911);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 44%;
  height: 100%;
  min-width: 120px;
}

.navbar .btn a {
  width: 35%;
  height: 60%;
  text-decoration: none;
  margin-right: 30px;
}

.navbar .btn a button {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  background-color: #234770f1;
  border: 2px solid white;
}

.navbar .btn a button:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navbar ul li:hover {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.navbar ul .nav-li:hover {
  border-bottom: 1px solid white;
  color: white;
}

.navbar ul a:hover {
  color: white;
}

.icon-hidden {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .navbar .home-img img {
    min-width: 200px;
  }
  .navbar .nav-li {
    margin: 1em;
  }
  .navbar .btn {
    width: 45%;
  }
  .navbar .btn a button {
    font-size: 0.9em;
    min-width: 115px;
  }
}

@media (max-width: 992px) {
  .navbar .home-img img {
    min-width: 200px;
  }
  .navbar ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0.9em;
  }
  .navbar .btn a {
    width: 50%;
  }
  .navbar .btn a button {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: visible;
  }
  .navbar .icon-hidden {
    top: 0px;
    position: absolute;
    right: 20px;
    display: initial;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .home-img {
    justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 100%;
    min-width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .home-img img {
    min-width: 200px;
    padding-top: 5px;
  }
  .navbar .hidden {
    display: none;
  }
  .navbar .options {
    display: none;
  }
}

.hidden {
  display: none;
}

.options2 {
  z-index: 100;
  position: fixed;
  top: 8vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: none;
  background-color: rgba(35, 35, 35, 0.9);
}

.options2 .nav-li {
  height: 75px;
  margin: 0px;
}

.options2 .nav-li a {
  text-decoration: none;
}

.options2 .icon-hidden {
  display: block;
}

.options2 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 80%;
  width: 100%;
  padding: 0;
}

.options2 ul .nav-li:hover {
  border-bottom: none;
  background-color: white;
  color: black;
  margin: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: none;
          transform: none;
}

.options2 ul .nav-li:hover a {
  color: black;
}

.options2 ul li {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

.options2 ul li a {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options2 .btn {
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.options2 .btn a {
  margin: 0;
  width: 100%;
}

.options2 .btn a .nav-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 1rem;
  background-color: #234770f1;
  color: white;
  cursor: pointer;
}

.options2 .btn a .nav-btn:hover {
  background-color: white;
  color: #234770f1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .navbar .home-img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .home-img img {
    min-width: 200px;
    padding: 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 18rem;
  width: 100%;
  background-color: #234770;
  min-height: 285px;
}

footer .quickLinks {
  color: white;
  height: 100%;
  margin-left: 10rem;
  margin-top: 1em;
  width: 18%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .email-link {
  margin: 0;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .social p {
  margin-left: 10px;
}

footer .social img {
  height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .social svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 0;
}

@media (max-width: 992px) {
  footer .quickLinks {
    margin-left: 8rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  footer .quickLinks {
    width: 25%;
    margin-left: 5rem;
  }
  footer .quickLinks .pageLinks {
    margin: 0.5rem;
  }
}

@media (max-width: 576px) {
  footer .quickLinks {
    width: 30%;
    margin: 0;
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 0.8rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
  footer .quickLinks {
    width: 50%;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
  }
  footer .pageLinks {
    margin: 0.2rem;
  }
}

html {
  margin: 0;
  padding: env(safe-area-inset);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.services {
  margin: 0;
}

.header {
  position: relative;
  height: 75vh;
  background: url(/imgs/fall-couple-portrait.jpg) no-repeat;
  background-size: cover;
  background-position: 0px -175px;
  max-width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -50px;
  left: 40%;
  height: 2.6em;
  width: 22%;
  text-align: center;
  background-color: #d4e1f0;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: 300;
}

.packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 130vh;
  width: 60%;
  margin: 5em auto;
  max-width: 900px;
  min-height: 1000px;
  max-height: 1200px;
  margin-top: 7em;
}

.packages .packageDetail {
  height: 48%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.packages .packageDetail .txt {
  height: 60%;
}

.packages .packageDetail h1 {
  font-size: 2rem;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.packages .packageDetail p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.packages .packageDetail button {
  background-color: white;
  height: 100%;
  color: #5c88bc;
  border: solid 2px #5c88bc;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
}

.packages .packageDetail button:hover {
  background-color: #5c88bc;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.packages .packageDetail a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  height: 12%;
  width: 90%;
}

@media (max-width: 1200px) {
  .header {
    background-position: 0 0;
  }
  .services {
    margin-top: -50px;
    width: 24%;
    left: 38%;
  }
  .packages {
    min-height: 875px;
  }
  .packages .txt {
    margin-bottom: 1em;
  }
}

@media (max-width: 996px) {
  .services {
    margin-top: -90px;
  }
  .packages {
    width: 75%;
    min-height: 700px;
    max-height: 850px;
  }
  .packages .txt {
    margin-bottom: 2em;
  }
  .packages .packageDetail h1 {
    font-size: 1.7rem;
  }
  .packages .packageDetail p {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  body {
    min-width: none;
    width: 100vw;
  }
  .header {
    background-position: center;
  }
  .services {
    width: 38%;
    left: 31%;
    font-size: 2.3rem;
  }
  .packages {
    min-height: 775px;
    width: 85%;
    height: 100vh;
  }
  .packages .packageDetail {
    width: 47%;
  }
  .packages .packageDetail h1 {
    font-size: 1.5rem;
  }
  .packages .packageDetail p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .header {
    background-position: center;
  }
}

@media (max-width: 500px) {
  .services {
    width: 44%;
    left: 28%;
  }
  .packages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    min-height: 190vh;
  }
  .packages .packageDetail {
    width: 70%;
    height: 60%;
    margin-bottom: 20px;
    padding: 20px 40px;
    position: relative;
    border-bottom: none;
  }
  .packages .packageDetail h1 {
    font-size: 1.2rem;
  }
  .packages .packageDetail .txt {
    font-size: 0.8rem;
    margin-bottom: 50px;
  }
  .packages .packageDetail button {
    position: absolute;
    height: 15%;
    width: 100.5%;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 390px) {
  .header {
    height: 50vh;
  }
  .services {
    width: 70%;
    left: 15%;
    height: 4rem;
    font-size: 2rem;
    bottom: -30px;
  }
  .packages {
    margin-top: 4rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
/*# sourceMappingURL=services.css.map */